@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e8e8e8;
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: #3d3d3d;
    font-family: 'Inter';
}

.--left {
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 50px;
}

header h1 {
    font-size: 24px;
}

#black {
    padding: 5px;
    padding-left: 2px;
    background: #3d3d3d;
    border-radius: 5px;
    color: #e8e8e8;
}

nav {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav a {
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d3d3d;
}

nav a:hover {
    border-radius: 7px;
    background: #fff;
}

nav a img {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

footer {
    margin-top: 300px;
    padding: 20px;
    justify-self: end;
}

main {
    min-height: 100%;
    border-radius: 7px;
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5fr 2fr;
    background: #fff;
}

.center {
    margin-left: 60px;
}

input:focus {
    outline: none;
    border-bottom: 3px solid #595a58;
    box-shadow: 0 1px 0 0 #595a58;
}

#enter-url {
    width: 600px;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #3d3d3d;
}

main table tr {
    min-width: 600px;
    height: 40px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr input[type="text"] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #3d3d3d;
}

td {
    display: flex;
    align-items: center;
}

.to-text {
    display: flex;
    justify-content: center;
}

#add-field-btn {
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background: #3d3d3d;
    color: #fff;
}

#add-field-btn:hover {
    background: #595a58;
    cursor: pointer;
}

#crawl-div {
    width: 100px;
    height: 40px;
    padding: 2px;
    margin-top: 40px;
    border-radius: 10px;
    border: 3px solid #3d3d3d;
}

#crawl {
    width: 100px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background: #3d3d3d;
    color: #fff;
}

#crawl:hover {
    cursor: pointer;
    background: #595a58;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3d3d3d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
